@model SV20T1020451.DomainModels.EidtProduct
}
<div class="box box-primary">
     
    <div class="box-body">
        <form class="form-horizontal" action="~/Product/Save" method="post" enctype="multipart/form-data">
            @if (Model != null)
            {
                <input type="hidden" name="ProductID" value="@Model.product.ProductID" />
                <div class="form-group">
                    <label class="control-label col-sm-2">Tên mặt hàng:</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" autofocus name="ProductName" value="@Model.product.ProductName">
                        @Html.ValidationMessage(nameof(Model.product.ProductID), new { @style = "color:#f00" })
                    </div>
                </div>

                <div class="form-group">
                    <label class="control-label col-sm-2">Mô tả:</label>
                    <div class="col-sm-10">
                        <textarea class="form-control" rows="3" name="ProductDescription" value="@Model.product.ProductDescription"></textarea>
                        @Html.ValidationMessage(nameof(Model.product.ProductDescription), new { @style = "color:#f00" })
                    </div>
                </div>

                <div class="form-group">
                    <label class="control-label col-sm-2">Loại hàng:</label>
                    <div class="col-sm-10">
                        <select class="form-control" name="CategoryId">
                            <option value="@Model.product.CategoryID" selected>@Model.product.CategoryID</option>
                        </select>
                    </div>
                </div>

                <div class="form-group">
                    <label class="control-label col-sm-2">Nhà cung cấp:</label>
                    <div class="col-sm-10">
                        <select class="form-control" name="SupplierID">
                            <option value="@Model.product.SupplierID" selected>@Model.product.SupplierID</option>
                        </select>
                    </div>
                </div>

                <div class="form-group">
                    <label class="control-label col-sm-2">Đơn vị tính:</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" name="Unit" value="@Model.product.unit">
                    </div>
                </div>

                <div class="form-group">
                    <label class="control-label col-sm-2">Giá hàng:</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" name="Price" value="@Model.product.Price">
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-lg-offset-2 col-sm-10">
                        <div class="checkbox">
                            <label><input type="checkbox" value="true" checked name="IsSelling">@(Model.product.IsSelling ? "Đang được bán":"Hết hàng")</label>
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <label class="control-label col-sm-2">Ảnh minh họa:</label>
                    <div class="col-sm-10">
                        <input type="hidden" name="Photo" value="@Model.product.Photo" />
                        <input type="file" class="form-control" name="uploadPhoto" accept="image/*"
                        onchange="document.getElementById('Photo').src = window.URL.createObjectURL(this.files[0])" />
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-lg-offset-2 col-sm-10">
                        <img id="Photo" src="~/images/Products/@Model.product.Photo" class="img img-bordered" style="width:200px" />
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-sm-offset-2 col-sm-10">
                    <button type="submit" class="btn btn-primary">
                        <i class="fa fa-save"></i> Lưu dữ liệu
                    </button>
                    <a class="btn btn-warning" href="~/Product">
                        Quay lại
                    </a>
                </div>
            </div>
            }
        </form>

    </div>

</div>

@if (ViewBag.IsEdit != null)
{
    <div class="box box-info">
        <div class="box-header with-border ">
            <h3 class="box-title">Thư viện ảnh</h3>
            <div class="box-tools pull-right">
                <button type="button" class="btn btn-box-tool" data-widget="collapse" data-toggle="tooltip" title="" data-original-title="Collapse">
                    <i class="fa fa-minus"></i>
                </button>
            </div>
        </div>
        @if (Model != null && Model.Photos != null)
        {
            <div class="box-body">
                <form id="formSearch" action="#">

                    <table class="table table-bordered table-hover table-striped">
                        <thead>
                            <tr class="bg-gray">
                                <th>Image</th>
                                <th>Description/Title</th>
                                <th>Display Order</th>
                                <th>Hide Image</th>
                                <th class="text-right">
                                    <a class="btn btn-xs btn-primary" href="~/Product/Photo/@Model.product.ProductID?method=add">
                                        <i class="fa fa-plus"></i>
                                    </a>
                                </th>
                            </tr>
                        </thead>
                        <tbody> 
                            @foreach (var photo in Model.Photos)
                            {
                                <tr>
                                    <td style="vertical-align:middle">
                                        <img src="~/images/Products/@photo.Photo" alt="MacBookPro" style="width:100px" />
                                    </td>
                                    <td style="vertical-align:middle;">
                                        @photo.Description
                                    </td>
                                    <td style="vertical-align:middle;">i</td>
                                    <td style="vertical-align:middle;">@photo.IsHidden</td>
                                    <td style="vertical-align:middle; text-align:right">
                                        <a class="btn btn-xs btn-primary" href="~/Product/Photo/@photo.ProductID?method=edit&photoId=@photo.PhotoID">
                                            <i class="fa fa-edit"></i>
                                        </a>
                                        <a class="btn btn-xs btn-danger" href="~/Product/Photo/@photo.ProductID?method=delete&photoId=@photo.PhotoID" onclick="return confirm('Delete this product image?')">
                                            <i class="fa fa-remove"></i>
                                        </a>
                                    </td>
                                </tr>
                            }
                        </tbody>
                </table>
           
            </form>
        </div>
        }
    </div> 

    <div class="box box-info">

        <div class="box-header with-border ">
            <h3 class="box-title">Thuộc tính của mặt hàng</h3>
            <div class="box-tools pull-right">
                <button type="button" class="btn btn-box-tool" data-widget="collapse" data-toggle="tooltip" title="" data-original-title="Collapse">
                    <i class="fa fa-minus"></i>
                </button>
            </div>
        </div>
        @if (Model != null && Model.Attributes != null)
        {
            <div class="box-body">
                <form id="formSearch" action="#">
                    <table class="table table-bordered table-hover table-striped">
                        <thead>
                            <tr class="bg-gray">
                                <th>Tên thuộc tính</th>
                                <th>Giá trị thuộc tính</th>
                                <th>Thứ tự hiển thị</th>
                                <th class="text-right">
                                    <a class="btn btn-xs btn-primary" href="~/Product/Attribute/@Model.product.ProductID?method=add">
                                        <i class="fa fa-plus"></i>
                                    </a>
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model.Attributes)
                            {
                                <tr>
                                    <td style="vertical-align:middle">@item.AttributeName</td>
                                    <td style="vertical-align:middle;">@item.AttributeValue</td>
                                    <td style="vertical-align:middle;">i</td>
                                    <td style="vertical-align:middle; text-align:right">
                                        <a class="btn btn-xs btn-primary" href="~/Product/Attribute/@item.ProductID?method=edit&attributeId=@item.AttributeID">
                                            <i class="fa fa-edit"></i>
                                        </a>
                                        <a class="btn btn-xs btn-danger" href="~/Product/Attribute/@item.ProductID?method=delete&attributeId=@item.AttributeID" onclick="return confirm('Xóa thuộc tính này của mặt hàng?')">
                                            <i class="fa fa-remove"></i>
                                        </a>
                                    </td>
                                </tr>
                            }

                        </tbody>
                    </table>
            </form>
        </div>
      }
        <div class="box-footer text-center">
        </div>
        
    </div>
}